/*Samuel's Koivi Editor V 0.xp92 5-jul-2004 16:17
 Xoops Project
*/

.xpwIframe{
	background-color: white;
}

.xptoolBarContainer{
	cursor: pointer;
	border-bottom: 1px solid #00008B;
	border-right: 1px solid #00008B;
}

.xpshowHideCell{
	border: 1px;
	border-color: #9CBDEB;
	background-color: #C4DBF9;
	border-style: outset;
	vertical-align: top;
	line-height:0;
	padding:2px;
	background-image: url(hideback.gif);
}

.xptoolbarBackCell{
	background-image: url(t.gif);
}

.xptoolBar{
	border:none;
	position: static;
	padding:3px;
}

.xpfloatingToolBar{
	position:absolute;
	padding:3px;
	border-left: 1px solid black;
	border-right: 2px solid black;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	background-color: #C4DBF9;
}


.xpselectInput {
	width: 70px; 
	font-size: 9px; 
	border:1px solid #7F9DB9;	
}

.xptablePropsD{
	position:absolute; 
	border-top: #666666 1px solid;
	border-left: #666666 1px solid; 
	border-right: #666666 2px solid; 
	border-bottom: #666666 2px solid; 
	width:20px; 
	vertical-align:top;
	line-height:0px;
	background-color: #DFDFDF;
}

.xpcellAlignD{
	position:absolute; 
	border-top: #666666 1px solid;
	border-left: #666666 1px solid; 
	border-right: #666666 2px solid; 
	border-bottom: #666666 2px solid; 
	WIDTH: 76px; 
	HEIGHT: 72px; 
	background-color: #FFFFFF;
}

.xpcellBordersD{
	position:absolute; 
	border-top: #666666 1px solid;
	border-left: #666666 1px solid; 
	border-right: #666666 2px solid; 
	border-bottom: #666666 2px solid; 
	WIDTH: 73px; 
	HEIGHT: 51px; 
	background-color: #FFFFFF;
}

.xpquickTableD{
	border-top: #666666 1px solid;
	border-left: #666666 1px solid; 
	border-right: #666666 2px solid; 
	border-bottom: #666666 2px solid; 
	background-color: #FFFFFF;
	line-height:0px;
	position:absolute; 
}

.xpinsertSymbolD{
	background-color: #FFFFFF;
	border-top: #666666 1px solid;
	border-left: #666666 1px solid; 
	border-right: #666666 2px solid; 
	border-bottom: #666666 2px solid; 
	position:absolute; 
}

.xpClearFormatsD{
	position:absolute; 
	border-top: #666666 1px solid;
	border-left: #666666 1px solid; 
	border-right: #666666 2px solid; 
	border-bottom: #666666 2px solid;  
	WIDTH: 180px; 
	HEIGHT: 66px; 
	background-color: #FFFFFF;
	line-height:0px;
}

.xptdPicker{
	BORDER: #666666 1px solid;
	width:5px;
	height:5px;
}

.xpDivOption{
padding:5px;
font-size: 80%;
}


.xpbottomToolbar{
	background-color: #dfdfdf;
	text-align: right;
	display:block;
}
.xpcolorpicker{
	width:177px;
	height:26px;
	border-left: #000000 1px solid; 
	border-right: #000000 1px solid; 
	border-bottom: none;  
	padding-left:2px;
	padding-top:1px;
	padding-bottom:1px;
}

.xpcolorpickerHEX{
	width: 54px; 
	height: 14px; 
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:none; 
	background-color:transparent;
}

.xpColorPickerD{
	position:absolute; 
	height: 87px;
	height:149px; 
	border-top: #666666 1px solid;
	border-right: #666666 1px solid; 
	border-bottom: #666666 1px solid; 
	background-color:#F4F4F4;  
	line-height:0px;
}

.xpcellPropsBody{
	background-color: #dee3e7;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.xpInput {
	width: 50px; 
	height: 13px; 
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #7F9DB9;
	vertical-align:top;
}

.xpInput2 {
	width: 60px; 
	height: 15px; 
	font-size: 9px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #7F9DB9;
}

.xpInput3 {
	width: 40px; 
	height: 15px; 
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #7F9DB9;
	vertical-align:top;
}

.xpInput4 {
	width: 510px; 
	height: 15px; 
	font-size: 9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #7F9DB9;
	vertical-align:top;
}

.xpcellPreviewFieldset {
	font-size: 12px;
	width:340px; 
	height:132px;
	overflow: hidden;
}

.xpcellOFieldset {
	font-size: 12px;
	width:190px; 
	height:132px;
}

.xpcellPreviewDiv {
	font-size: 12px;
	width:330px; 
	height:110px;
}

.xpBorderFieldset{
	font-size: 12px;
	width:340px; 
	height:132px;
}

.xpimagePreview{
	height: 160px;
	overflow: hidden;
	text-align: justify;
}

.xpimagePropsBody{
	background-color: #DEE3E7;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.xpimagePreviewFieldset {
	font-size: 12px;
	height: 168px;
	width: 400px;
}

.xpimageMarginsFieldset{
	font-size: 12px;
	height: 132px;
	width: 202px;
}

.xpimageOFieldset {
	font-size: 12px;
	height: 168px;
	width: 160px;
}

.xpimageSrcFieldset {
	font-size: 12px;
	width:570px; 
	height:62px;
	margin-left: 5px;
}

.xptableOFieldset {
	font-size: 12px;
	height: 234px;
	width: 200px;
}

.xptablePreviewFieldset {
	font-size: 12px;
	height: 234px;
	width: 220px;
}

.xptablePreviewDiv {
	font-size: 12px;
	height: 200px;
	width: 200px;
	overflow: hidden;
}